# Python
# ------
# Ignore Python cache files and compiled files
__pycache__/
*.pyc

# Ignore virtual environment folders
venv/
env/
.env
*.env


# Data
# ----
# Ignore the raw data directory. This is typically too large for Git.
# Replace 'data/' with the actual path from your config.py if it's different.


# Generated Artifacts
# -------------------
# Ignore model files, encoders, and scalers saved locally.
# These are tracked by MLflow and should not be in Git.
*.joblib
*.h5
*.keras

*.json
dvc-sound-project-*.json
dvc-secondary-project-*.json


gdrive-creds.json
# Ignore service account key
.dvc/dvc-secondary-project-cf006599baee.json


# MLflow
# ------
# Ignore the local MLflow tracking directory
mlruns/


# IDE and OS specific
# -------------------
# Ignore common IDE settings folders
.vscode/
.idea/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
/1YKM1UdqtX___QawBNv_2mGQLzkxWWc8s
